<main >
  <div class="container">
  <h2 class="search-title">Buscador de cócteles</h2>
  <form>
    <input type="text" placeholder="busca tu cóctel" class="drink js-drink" value="">
    <input type="button" class="js-btn" value="Buscar">
    <input type="button" class="js-reset" value="Reset">
  </form>
  </div>
  <section class="section">
    
    <div>
    <h2>lista de cócteles</h2>
    <ul class="js-list"></ul>
    </div>
    
  <div>
  <h2>Cócteles favoritos</h2>
  <ul class="js-favorite"></ul>
  </div>

  </section>
</main>


