
.header-container {
background-color:#252525;
background-size: cover;
display: flex;
justify-content: space-evenly;
border-bottom: solid 4px#ddc588;

}

.title{
color:#ddc588;
font-size: 100px;
}
.slogan {
display: flex;
align-items: center;
margin-top: 10px;
font-size: 20px;
color: #ddc588;
font-size: 50px;
}

