
.header-container {
background-color:#252525;
background-size: cover;
display: flex;
justify-content: center;
border-bottom: solid 4px#ddc588;
font-family: 'Big Shoulders Inline Text', cursive;

}
.palm {
color: #ddc588;
}

.title{
color:#ddc588;
font-size: 200px;
}

