
.header-container {
background-color:$background;
width: 100vw;
background-size: cover;
display: flex;
justify-content: center;
border-bottom: solid 4px$gold;
font-family: 'Big Shoulders Inline Text', cursive;

}

.title{
color:$gold;
font-size: 200px;
}

